<%- include('./partials/header')  %> 
</head>
<body>
    <form action="/peliculas/borrar/<%=idBorrar%> " method="POST">
        <div>
            <label for="">Email</label>
            <input type="email" name="email">
        </div>
        <div>
            <label for="">Contraseña</label>
            <input type="password" name="password">
        </div>
        <input type="submit" value="Enviar">
        
        <button type="submit">borrar</button>
    </form>

<%- include('./partials/footer')  %>