<%- include('./partials/head')  %> 
<link rel="stylesheet" href="/stylesheets/form.css">
</head>
<body>
    
    <div class="flex-container">
    <h1 id="titulo2">USUARIO INVALIDO</h1>
    </div>

    <div class="flex-container">
    <div class="flexboxButtons">
        <div>
            <a href="/peliculas/misResenias">
                <button class="button button2" type="button">
                    <span uk-icon="icon: chevron-left"></span>Volver 
                </button>
            </a>
        </div>
        <div>
            <a href="/peliculas">
                <button class="button button2" type="button">
                    <span uk-icon="icon: home"></span>Home 
                </button>
            </a>
        </div>
        <div>
            <a href="/peliculas/registrarse">
                <button class="button button2" type="button">
                    <span uk-icon="icon: sign-in"></span>Registrarse 
                </button>
            </a>
        </div>
    </div>
</body>
</html>