<%- include('./partials/header')  %> 
</head>
<body>
    <form action="" method="GET">
    <label for="site-search">Buscar usuario:</label>
    <input type="search" id="site-search" name="buscarUsuario" aria-label="Search through site content">
    <button>Search</button>
    </form> 
    
    <% if(seHizoUnaBusqueda == true) { %>
        <h1>Usuarios Encontrados: </h1> 
            <% if(elUsuarioBuscado.length > 0) { %>
                
                <% for (let i = 0; i < elUsuarioBuscado.length; i++) { %>
                    <li>
                    <a href="/peliculas/detalleUsuario/<%=elUsuarioBuscado[i].idusuarios%>"><%=elUsuarioBuscado[i].nombre%></a>
                    </li>
                <% } %>
            
            <% } else { %> 
                
                <h2>No se encontraron usuarios</h2>        
            
                <% } %>   
        
        
    
    <% } else { %> 
     
    <% } %> 
    

<%- include('./partials/footer')  %>