/* footer */
*{
  box-sizing: border-box;
}
footer {
  background-color: #578DFF;
  background-color: black;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
ul.footer{
  background-color: black;
  height: 8%;
  list-style-type: none;
  overflow: hidden;
  margin: 0px;
}
img.logo-footer{
  float: left;
  width: 6%;
  height: 6%;
  position: relative;
  left: -14px;
  top: 9px;
  border-radius: 5px;
}
li.footer{

  overflow: hidden;
  position: relative;
  top:25px;
}
ul.redes{
  float: left;
  font-size: 5%;
  color: #578DFF;
}

 ul.descargas{
   float: left;
   font-size: 5%;
}
ul.iconos-redes{
  font-size: 24px;
  position: relative;
  left: -31px;
  top:-18px;
  color: #578DFF;
}
.iconos-redes i:hover{
  color: #578DFF;
}
ul.iconos-descargas{
  font-size: 24px;
  position: relative;
  left: 12px;
  top:-18px;
  color: #578DFF;
}
.iconos-descargas i:hover{
  color: #578DFF
  }

h6.titulos-redes{
  font-family: sans-serif;
  font-size: .875rem;
  color: #578DFF;

}
h6.titulos-descargas{
  font-family: sans-serif;
  font-size: .875rem;
  color: #578DFF;
}
h3.nombres-footer{
  font-family: sans-serif;
  float: left;
  font-size: 15px;
  margin-left: 5px;
  margin-right: 0;
  margin-top: 5px;
  margin-bottom: 15px;
  color: white;

}
img.logo-tmdb{
  float: left;
  width: 8%;
  height: 12%;
  border-radius: 3px;
  border: 3px white;
  margin-top: 30px;
  position: relative;
  left:-275px;
}

/*footer*/

/*****MEDIA QUERIES*****/
@media only screen and (max-width:420px){
ul.footer{
  margin-bottom: 3px;
}
img.logo-footer{
  width: 18%;
  position: relative;
  left: -26px;
}
li.footer{
  height: 75px;
  position: relative;
  left: -25px;
  top: 18px;
}
ul.iconos-redes{
  position: relative;
  left: -50px;
}
ul.iconos-descargas{
  position: relative;
  left:78px;
  top:-93px;

}
h6.titulos-redes{
position: relative;
left: -20px;
top: -4px;
}
h6.titulos-descargas{
  position: relative;
  left: 78px;
  top: -77px;
}
section.nombres-footer{
  position: relative;
}
h3.nombres-footer{
  font-size: 10px;
}
img.logo-tmdb{
  float: none;
  width: 18%;
  height: 50%;
  margin: 8px;
  position: absolute;
  right: -1px;
  bottom: -1px;
}
}

@media only screen and (min-width:421px) and (max-width:800px){
  ul.footer{
    margin-bottom: 3px;
  }
  img.logo-footer{
    width: 10%;
    position: relative;
    left: -5%;
    top: 0;
  }
  li.footer{
    height: 10%;;
    width: 500px;
    position: relative;
    left: 318px;
    top: 0;
  }
  h6.titulos-redes{
   margin-top: 10px;
  }
  h6.titulos-descargas{
   margin-top: 10px;
  }
  section.nombres-footer{
    position: relative;
  }
  img.logo-tmdb{
    width: 18%;
    height: 88%;
    margin: 4px;
    padding: 3px;
    position: absolute;
    right: -1px;
    bottom: -1px;
  }
}
