*{
    box-sizing: border-box;
  }
  
  body{
    background-color: black;
    /* padding-bottom: 205px; */
  }
  #titulo{
    color: #578DFF;
    display: flex;
    justify-content: center;
    padding-top: 60px;
  }
  
  #titulo3{
    color: #578DFF;
    display: flex;
    justify-content: center;
    padding-top: 15%;
  }
  #titulo4{
    color: #578DFF;
    display: flex;
    justify-content: center;
    padding-top: 0px;
  }
  #cuadroResenia{
  border: 2px solid #578DFF;
  background-color: #578DFF;
  border-radius: 16px;
  padding: 20px 71px;
  margin-right: 26%;
  margin-left: 26%;
  margin-top: 3%;
  margin-bottom: 3%;
  }
  
  #label{
    color: white;
    font-weight: 400;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .button {
    background-color:#578DFF; 
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 0px 0px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button3{
    background-color:#578DFF; 
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 0px 0px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 15px;
  }
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  .flexUsers{
    display: flex;
    align-items: center;
    display: inline-flexbox;
    justify-content: center;
  }
  div.flex-container {
    display: flex;
    justify-content: center;
    background-color:black;
  }
  #titulo2{
    color: #578DFF;
    display: flex;
    justify-content: center;
    padding-top: 20%; 
    margin-bottom: 33px;  
  }
  .uk-form-width-large {
    width: 450px;
    border-color: blue;
    }
.numeros {
    color: white;
    display: flex;
    flex-wrap: nowrap;
    }  
.numeros > div {
        margin: 10px;
        text-align: center;
        line-height: 75px;
        margin-top: -3em;
        padding-right: 16px;
      }
.todasMisResenias{
    color: white;
    font-weight: 400;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #578DFF;
    margin-top: 9%;
    }
.flexboxButtons{
    display: flex;
  flex-wrap: nowrap;
  justify-content: center;

}
.containerErrores{
    display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.errorRegister{
    border: 2px solid #578DFF;
    background-color: #578DFF;
    border-radius: 77px;
    padding: 0px 50px;
    margin-top: 21px;
    margin-bottom: 5px;
    color: white;
    justify-content: center;
}
.flexboxButtons > div {
    width: 90px;
    margin: 10px;
    padding-top: -3em;
  }
#botonDetalle{
    background-color:#578DFF; 
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 0px 0px;
    transition-duration: 0.4s;
    cursor: pointer;
}
#botonDetalle:hover {
    background-color: #008CBA;
    color: white;
  }
.misResenias{
    color: white;
    font-weight: 400;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    }
.reseniasMias{
    color: white;
    font-weight: 400;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 23px;
    margin-top: 81px;
 
}
#datos{
    font-family: "Times New Roman", Times, serif;
    color:#578DFF;
    font-size: 17px;
}
.li{
    font-size: 18px;
    color: white;
}
#centro{
  border-style:solid;
  border-width:2px;
  border-color:#578DFF;
  position: relative;
  width: 50%;
  left: 25%;

}

#centro:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}