#vamos{
  float:left;
  margin-top: 1%;
  margin-right: 1%;
  background-color: #578DFF;
  color: white;

}
#cuadroResenia{
  border: 2px solid #578DFF;
    background-color: #578DFF;
    border-radius: 16px;
    padding: 20px 71px;
    margin-right: 26%;
    margin-left: 26%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.uk-modal-title {
  font-size: 2rem;
  line-height: 1.3;
  color: #578DFF;
}
.uk-button-default {
  background-color: transparent;
  color: white;
  border: 1px solid #e5e5e5;
}

#modalCss{
 position: relative;
 background-color:black;
 color: white;
}
.divBotones{
  overflow: hidden;
  color: white;
}
.miBoton{
  position: absolute;
  right: 1%;
  top: 3%;
  background-color: white;
  border: 0.5px solid #578DFF;
  color: white;
}
#cancelar{
  float: left;
  margin-right: 1%;
  margin-top: 1%;
  color: white;
  background-color: #578DFF;
 
}
#reco{
  margin-top: 1%;
  color: #578DFF;
}
.listaDeModal{
  list-style: none;
  color: white;
}
#anchor{
  text-decoration: none;
  color: white;

}

div.recomendadas h2{
font-family: sans-serif;
font-size: 3vh;
padding: 1%;
align-items: center;
text-align: center;
margin-top: 2%;
border-style: solid;
position: relative;
color: #578DFF;


}
/* esto es para el modal del login */
#botonDeLogin{
  text-decoration: none;
  color: black;
}
@media only screen and (max-width:420px){
div.iframe{
  margin-right: 1%;
  margin-left: 0%;
  margin-top: 1%;
  margin-bottom: 1%;
}
iframe{
  width: 250px;
  height: 200px;

}

div.las-recomendadas{
  width: 90px;
  height: 75px;
  float: left;
  color: #578DFF;

}

h2.h2{
  font-size: 1em;
}
.el-titular{
  font-size: 1.5em;
  font-weight: bold;
}
#vamos{

  font-size: .800rem;
  color: #578DFF;

}
#botonDeResenia{

  font-size: .800rem;
  color: #578DFF;

}
#cancelar{
  font-size: .800rem;
  margin-left: 0%;
  color: #578DFF;
}
.el-resumen .laFecha .puntosPeli .laLista .deLaLista {
  font-size: 0.5em;
  
}

#modal-example{
  height: 100vh;
  font-family: 'Merriweather', serif;

}
}
