footer.flex-container {
    display: flex;
    justify-content: center;
    background-color: #578DFF;
    background-color: black;
    height:52vh ;
    overflow: hidden;
    position: relative;
}
/* logo */
img.logo-footer{
    margin-top: 42%; 
}
.footer{
    margin-top: 45%;
}
  