*{
    box-sizing: border-box;
  }
  html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    background-color: black;
  }
  /* resultados */
  ul.ordenLista{
      list-style-type: none;
  }
  

  