*{
    box-sizing: border-box;
  }
  html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    background-color: black;
  }
  footer.flex-container {
    display: flex;
    justify-content: center;
    background-color: #578DFF;
    background-color: black;
    height:50vh ;
    overflow: hidden;
    position: relative;
}
  /* resultados */
  ul.ordenLista{
      list-style-type: none;
  }
  

  